* { box-sizing: border-box; }

html, body {
  height: 100%;
}
.dock-menu {
  bottom: 10px;
  font-size: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.dock-menu-list {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.dock-menu-list li {
  display: inline-block;
  margin: 0 3px;
  min-height: 50px;
  min-width: 50px;
  padding: 0;
  transition: 0.5s all ease;
}
.dock-menu-list li:hover {
  border-radius: 100%;
  box-shadow: 0 0 40px 5px white;
}
.dock-menu-list li img {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#map {
  border: 15px solid black;
  border-bottom-width: 35px;
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}